@import "open-color/open-color";

$oc-gray-list-expanded: ($oc-white, mix($oc-white, $oc-gray-0));
@for $i from 0 through 9 {
  $keys: map-keys($oc-gray-list);
  $plain: map-get($oc-gray-list, nth($keys, $i + 1));
  $plain-next: $oc-black;
  @if $i != 9 {
    $plain-next: map-get($oc-gray-list, nth($keys, $i + 2));
  }
  $oc-gray-list-expanded: append($oc-gray-list-expanded, $plain);
  $mixed1: mix($plain, $plain-next, 75%);
  $oc-gray-list-expanded: append($oc-gray-list-expanded, $mixed1);
  $mixed2: mix($plain, $plain-next, 50%);
  $oc-gray-list-expanded: append($oc-gray-list-expanded, $mixed2);
  $mixed3: mix($plain, $plain-next, 25%);
  $oc-gray-list-expanded: append($oc-gray-list-expanded, $mixed3);
}
$oc-gray-list-expanded: append($oc-gray-list-expanded, $oc-black);

@function map-oc-gray($color) {
  $lt: lightness($color);
  @for $i from 1 to length($oc-gray-list-expanded) {
    $curr: nth($oc-gray-list-expanded, $i);
    $next: nth($oc-gray-list-expanded, $i + 1);
    $curr-lt: lightness($curr);
    $next-lt: lightness($next);
    @if $curr-lt >= $lt and $lt >= $next-lt {
      $mid-lt: ($curr-lt + $next-lt) / 2;
      @if $lt > $mid-lt {
        $curr: change-color($curr, $alpha: alpha($color));
        @return $curr;
      } @else {
        $next: change-color($next, $alpha: alpha($color));
        @return $next;
      }
    }
  }
}

@function map-oc($color) {
  @if saturation($color) == 0% {
    @return map-oc-gray($color);
  } @else {
    @return $color;
  }
}

// Based on :root[theme="g100"]
:global(:root[theme="dark"]) {
  --cds-interactive-01: #{map-oc(#0f62fe)};
  --cds-interactive-02: #{map-oc(#6f6f6f)};
  --cds-interactive-03: #{map-oc(#ffffff)};
  --cds-interactive-04: #{map-oc(#4589ff)};
  --cds-ui-background: #{map-oc(#161616)};
  --cds-ui-01: #{map-oc(#262626)};
  --cds-ui-02: #{map-oc(#393939)};
  --cds-ui-03: #{map-oc(#393939)};
  --cds-ui-04: #{map-oc(#6f6f6f)};
  --cds-ui-05: #{map-oc(#f4f4f4)};
  --cds-text-01: #{map-oc(#f4f4f4)};
  --cds-text-02: #{map-oc(#c6c6c6)};
  --cds-text-03: #{map-oc(#6f6f6f)};
  --cds-text-04: #{map-oc(#ffffff)};
  --cds-text-05: #{map-oc(#8d8d8d)};
  --cds-text-error: #{map-oc(#ff8389)};
  --cds-icon-01: #{map-oc(#f4f4f4)};
  --cds-icon-02: #{map-oc(#c6c6c6)};
  --cds-icon-03: #{map-oc(#ffffff)};
  --cds-link-01: #{map-oc(#78a9ff)};
  --cds-inverse-link: #{map-oc(#0f62fe)};
  --cds-field-01: #{map-oc(#262626)};
  --cds-field-02: #{map-oc(#393939)};
  --cds-inverse-01: #{map-oc(#161616)};
  --cds-inverse-02: #{map-oc(#f4f4f4)};
  --cds-support-01: #{map-oc(#fa4d56)};
  --cds-support-02: #{map-oc(#42be65)};
  --cds-support-03: #{map-oc(#f1c21b)};
  --cds-support-04: #{map-oc(#4589ff)};
  --cds-inverse-support-01: #{map-oc(#da1e28)};
  --cds-inverse-support-02: #{map-oc(#24a148)};
  --cds-inverse-support-03: #{map-oc(#f1c21b)};
  --cds-inverse-support-04: #{map-oc(#0f62fe)};
  --cds-overlay-01: #{map-oc(rgba(22, 22, 22, 0.7))};
  --cds-danger-01: #{map-oc(#da1e28)};
  --cds-danger-02: #{map-oc(#fa4d56)};
  --cds-focus: #{map-oc(#ffffff)};
  --cds-inverse-focus-ui: #{map-oc(#0f62fe)};
  --cds-hover-primary: #{map-oc(#0353e9)};
  --cds-active-primary: #{map-oc(#002d9c)};
  --cds-hover-primary-text: #{map-oc(#a6c8ff)};
  --cds-hover-secondary: #{map-oc(#606060)};
  --cds-active-secondary: #{map-oc(#393939)};
  --cds-hover-tertiary: #{map-oc(#f4f4f4)};
  --cds-active-tertiary: #{map-oc(#c6c6c6)};
  --cds-hover-ui: #{map-oc(#353535)};
  --cds-active-ui: #{map-oc(#525252)};
  --cds-selected-ui: #{map-oc(#393939)};
  --cds-selected-light-ui: #{map-oc(#525252)};
  --cds-hover-selected-ui: #{map-oc(#4c4c4c)};
  --cds-inverse-hover-ui: #{map-oc(#e5e5e5)};
  --cds-hover-danger: #{map-oc(#b81921)};
  --cds-active-danger: #{map-oc(#750e13)};
  --cds-hover-row: #{map-oc(#353535)};
  --cds-visited-link: #{map-oc(#be95ff)};
  --cds-disabled-01: #{map-oc(#262626)};
  --cds-disabled-02: #{map-oc(#525252)};
  --cds-disabled-03: #{map-oc(#8d8d8d)};
  --cds-highlight: #{map-oc(#002d9c)};
  --cds-decorative-01: #{map-oc(#525252)};
  --cds-hover-light-ui: #{map-oc(#525252)};
  --cds-button-separator: #{map-oc(#161616)};
  --cds-skeleton-01: #{map-oc(#353535)};
  --cds-skeleton-02: #{map-oc(#393939)};
  --cds-brand-01: #{map-oc(#0f62fe)};
  --cds-brand-02: #{map-oc(#6f6f6f)};
  --cds-brand-03: #{map-oc(#ffffff)};
  --cds-active-01: #{map-oc(#525252)};
  --cds-hover-field: #{map-oc(#353535)};
  --cds-danger: #{map-oc(#da1e28)};
}

// Based on :root
:global(:root[theme="light"]) {
  --cds-interactive-01: #{map-oc(#0f62fe)};
  --cds-interactive-02: #{map-oc(#393939)};
  --cds-interactive-03: #{map-oc(#0f62fe)};
  --cds-interactive-04: #{map-oc(#0f62fe)};
  --cds-ui-background: #{map-oc(#f4f4f4)};
  --cds-ui-01: #{map-oc(#ffffff)};
  --cds-ui-02: #{map-oc(#f4f4f4)};
  --cds-ui-03: #{map-oc(#e0e0e0)};
  --cds-ui-04: #{map-oc(#8d8d8d)};
  --cds-ui-05: #{map-oc(#161616)};
  --cds-text-01: #{map-oc(#161616)};
  --cds-text-02: #{map-oc(#525252)};
  --cds-text-03: #{map-oc(#a8a8a8)};
  --cds-text-04: #{map-oc(#ffffff)};
  --cds-text-05: #{map-oc(#6f6f6f)};
  --cds-text-error: #{map-oc(#da1e28)};
  --cds-icon-01: #{map-oc(#161616)};
  --cds-icon-02: #{map-oc(#525252)};
  --cds-icon-03: #{map-oc(#ffffff)};
  --cds-link-01: #{map-oc(#0f62fe)};
  --cds-inverse-link: #{map-oc(#78a9ff)};
  --cds-field-01: #{map-oc(#ffffff)};
  --cds-field-02: #{map-oc(#f4f4f4)};
  --cds-inverse-01: #{map-oc(#ffffff)};
  --cds-inverse-02: #{map-oc(#393939)};
  --cds-support-01: #{map-oc(#da1e28)};
  --cds-support-02: #{map-oc(#24a148)};
  --cds-support-03: #{map-oc(#f1c21b)};
  --cds-support-04: #{map-oc(#0043ce)};
  --cds-inverse-support-01: #{map-oc(#fa4d56)};
  --cds-inverse-support-02: #{map-oc(#42be65)};
  --cds-inverse-support-03: #{map-oc(#f1c21b)};
  --cds-inverse-support-04: #{map-oc(#4589ff)};
  --cds-overlay-01: #{map-oc(rgba(22, 22, 22, 0.5))};
  --cds-danger-01: #{map-oc(#da1e28)};
  --cds-danger-02: #{map-oc(#da1e28)};
  --cds-focus: #{map-oc(#0f62fe)};
  --cds-inverse-focus-ui: #{map-oc(#ffffff)};
  --cds-hover-primary: #{map-oc(#0353e9)};
  --cds-active-primary: #{map-oc(#002d9c)};
  --cds-hover-primary-text: #{map-oc(#0043ce)};
  --cds-hover-secondary: #{map-oc(#4c4c4c)};
  --cds-active-secondary: #{map-oc(#6f6f6f)};
  --cds-hover-tertiary: #{map-oc(#0353e9)};
  --cds-active-tertiary: #{map-oc(#002d9c)};
  --cds-hover-ui: #{map-oc(#e5e5e5)};
  --cds-active-ui: #{map-oc(#c6c6c6)};
  --cds-selected-ui: #{map-oc(#e0e0e0)};
  --cds-selected-light-ui: #{map-oc(#e0e0e0)};
  --cds-hover-selected-ui: #{map-oc(#cacaca)};
  --cds-inverse-hover-ui: #{map-oc(#4c4c4c)};
  --cds-hover-danger: #{map-oc(#b81921)};
  --cds-active-danger: #{map-oc(#750e13)};
  --cds-hover-row: #{map-oc(#e5e5e5)};
  --cds-visited-link: #{map-oc(#8a3ffc)};
  --cds-disabled-01: #{map-oc(#ffffff)};
  --cds-disabled-02: #{map-oc(#c6c6c6)};
  --cds-disabled-03: #{map-oc(#8d8d8d)};
  --cds-highlight: #{map-oc(#edf5ff)};
  --cds-decorative-01: #{map-oc(#e0e0e0)};
  --cds-hover-light-ui: #{map-oc(#e5e5e5)};
  --cds-button-separator: #{map-oc(#e0e0e0)};
  --cds-skeleton-01: #{map-oc(#e5e5e5)};
  --cds-skeleton-02: #{map-oc(#c6c6c6)};
  --cds-brand-01: #{map-oc(#0f62fe)};
  --cds-brand-02: #{map-oc(#393939)};
  --cds-brand-03: #{map-oc(#0f62fe)};
  --cds-active-01: #{map-oc(#c6c6c6)};
  --cds-hover-field: #{map-oc(#e5e5e5)};
  --cds-danger: #{map-oc(#da1e28)};
}
