@import "open-color/open-color";

$oc-gray-list-expanded: ($oc-white, mix($oc-white, $oc-gray-0));
@for $i from 0 through 9 {
  $keys: map-keys($oc-gray-list);
  $plain: map-get($oc-gray-list, nth($keys, $i + 1));
  $plain-next: $oc-black;
  @if $i != 9 {
    $plain-next: map-get($oc-gray-list, nth($keys, $i + 2));
  }
  $oc-gray-list-expanded: append($oc-gray-list-expanded, $plain);
  $mixed1: mix($plain, $plain-next, 75%);
  $oc-gray-list-expanded: append($oc-gray-list-expanded, $mixed1);
  $mixed2: mix($plain, $plain-next, 50%);
  $oc-gray-list-expanded: append($oc-gray-list-expanded, $mixed2);
  $mixed3: mix($plain, $plain-next, 25%);
  $oc-gray-list-expanded: append($oc-gray-list-expanded, $mixed3);
}
$oc-gray-list-expanded: append($oc-gray-list-expanded, $oc-black);

@function map-oc-gray($color) {
  $lt: lightness($color);
  @for $i from 1 to length($oc-gray-list-expanded) {
    $curr: nth($oc-gray-list-expanded, $i);
    $next: nth($oc-gray-list-expanded, $i + 1);
    $curr-lt: lightness($curr);
    $next-lt: lightness($next);
    @if $curr-lt >= $lt and $lt >= $next-lt {
      $mid-lt: ($curr-lt + $next-lt) / 2;
      @if $lt > $mid-lt {
        $curr: change-color($curr, $alpha: alpha($color));
        @return $curr;
      } @else {
        $next: change-color($next, $alpha: alpha($color));
        @return $next;
      }
    }
  }
}

@function map-oc($color) {
  @if saturation($color) == 0% {
    @return map-oc-gray($color);
  } @else {
    @return $color;
  }
}

// Based on :root[theme="g100"]
:global(:root[theme="dark"]) {
  --cds-interactive-01: #{map-oc(#0f62fe)};
  --cds-interactive-02: #{map-oc(#6f6f6f)};
  --cds-interactive-03: #{map-oc(#ffffff)};
  --cds-interactive-04: #{map-oc(#4589ff)};
  --cds-ui-background: #{map-oc(#161616)};
  --cds-ui-01: #{map-oc(#262626)};
  --cds-ui-02: #{map-oc(#393939)};
  --cds-ui-03: #{map-oc(#393939)};
  --cds-ui-04: #{map-oc(#6f6f6f)};
  --cds-ui-05: #{map-oc(#f4f4f4)};
  --cds-text-01: #{map-oc(#f4f4f4)};
  --cds-text-02: #{map-oc(#c6c6c6)};
  --cds-text-03: #{map-oc(#6f6f6f)};
  --cds-text-04: #{map-oc(#ffffff)};
  --cds-text-05: #{map-oc(#8d8d8d)};
  --cds-text-error: #{map-oc(#ff8389)};
  --cds-icon-01: #{map-oc(#f4f4f4)};
  --cds-icon-02: #{map-oc(#c6c6c6)};
  --cds-icon-03: #{map-oc(#ffffff)};
  --cds-link-01: #{map-oc(#78a9ff)};
  --cds-inverse-link: #{map-oc(#0f62fe)};
  --cds-field-01: #{map-oc(#262626)};
  --cds-field-02: #{map-oc(#393939)};
  --cds-inverse-01: #{map-oc(#161616)};
  --cds-inverse-02: #{map-oc(#f4f4f4)};
  --cds-support-01: #{map-oc(#fa4d56)};
  --cds-support-02: #{map-oc(#42be65)};
  --cds-support-03: #{map-oc(#f1c21b)};
  --cds-support-04: #{map-oc(#4589ff)};
  --cds-inverse-support-01: #{map-oc(#da1e28)};
  --cds-inverse-support-02: #{map-oc(#24a148)};
  --cds-inverse-support-03: #{map-oc(#f1c21b)};
  --cds-inverse-support-04: #{map-oc(#0f62fe)};
  --cds-overlay-01: #{map-oc(rgba(22, 22, 22, 0.7))};
  --cds-danger-01: #{map-oc(#da1e28)};
  --cds-danger-02: #{map-oc(#fa4d56)};
  --cds-focus: #{map-oc(#ffffff)};
  --cds-inverse-focus-ui: #{map-oc(#0f62fe)};
  --cds-hover-primary: #{map-oc(#0353e9)};
  --cds-active-primary: #{map-oc(#002d9c)};
  --cds-hover-primary-text: #{map-oc(#a6c8ff)};
  --cds-hover-secondary: #{map-oc(#606060)};
  --cds-active-secondary: #{map-oc(#393939)};
  --cds-hover-tertiary: #{map-oc(#f4f4f4)};
  --cds-active-tertiary: #{map-oc(#c6c6c6)};
  --cds-hover-ui: #{map-oc(#353535)};
  --cds-active-ui: #{map-oc(#525252)};
  --cds-selected-ui: #{map-oc(#393939)};
  --cds-selected-light-ui: #{map-oc(#525252)};
  --cds-hover-selected-ui: #{map-oc(#4c4c4c)};
  --cds-inverse-hover-ui: #{map-oc(#e5e5e5)};
  --cds-hover-danger: #{map-oc(#b81921)};
  --cds-active-danger: #{map-oc(#750e13)};
  --cds-hover-row: #{map-oc(#353535)};
  --cds-visited-link: #{map-oc(#be95ff)};
  --cds-disabled-01: #{map-oc(#262626)};
  --cds-disabled-02: #{map-oc(#525252)};
  --cds-disabled-03: #{map-oc(#8d8d8d)};
  --cds-highlight: #{map-oc(#002d9c)};
  --cds-decorative-01: #{map-oc(#525252)};
  --cds-hover-light-ui: #{map-oc(#525252)};
  --cds-button-separator: #{map-oc(#161616)};
  --cds-skeleton-01: #{map-oc(#353535)};
  --cds-skeleton-02: #{map-oc(#393939)};
  --cds-brand-01: #{map-oc(#0f62fe)};
  --cds-brand-02: #{map-oc(#6f6f6f)};
  --cds-brand-03: #{map-oc(#ffffff)};
  --cds-active-01: #{map-oc(#525252)};
  --cds-hover-field: #{map-oc(#353535)};
  --cds-danger: #{map-oc(#da1e28)};
  --cds-caption-01-font-size: 0.75rem;
  --cds-caption-01-font-weight: 400;
  --cds-caption-01-line-height: 1.34;
  --cds-caption-01-letter-spacing: 0.32px;
  --cds-label-01-font-size: 0.75rem;
  --cds-label-01-font-weight: 400;
  --cds-label-01-line-height: 1.34;
  --cds-label-01-letter-spacing: 0.32px;
  --cds-helper-text-01-font-size: 0.75rem;
  --cds-helper-text-01-line-height: 1.34;
  --cds-helper-text-01-letter-spacing: 0.32px;
  --cds-body-short-01-font-size: 0.875rem;
  --cds-body-short-01-font-weight: 400;
  --cds-body-short-01-line-height: 1.29;
  --cds-body-short-01-letter-spacing: 0.16px;
  --cds-body-long-01-font-size: 0.875rem;
  --cds-body-long-01-font-weight: 400;
  --cds-body-long-01-line-height: 1.43;
  --cds-body-long-01-letter-spacing: 0.16px;
  --cds-body-short-02-font-size: 1rem;
  --cds-body-short-02-font-weight: 400;
  --cds-body-short-02-line-height: 1.375;
  --cds-body-short-02-letter-spacing: 0;
  --cds-body-long-02-font-size: 1rem;
  --cds-body-long-02-font-weight: 400;
  --cds-body-long-02-line-height: 1.5;
  --cds-body-long-02-letter-spacing: 0;
  --cds-code-01-font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  --cds-code-01-font-size: 0.75rem;
  --cds-code-01-font-weight: 400;
  --cds-code-01-line-height: 1.34;
  --cds-code-01-letter-spacing: 0.32px;
  --cds-code-02-font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  --cds-code-02-font-size: 0.875rem;
  --cds-code-02-font-weight: 400;
  --cds-code-02-line-height: 1.43;
  --cds-code-02-letter-spacing: 0.32px;
  --cds-heading-01-font-size: 0.875rem;
  --cds-heading-01-font-weight: 600;
  --cds-heading-01-line-height: 1.29;
  --cds-heading-01-letter-spacing: 0.16px;
  --cds-productive-heading-01-font-size: 0.875rem;
  --cds-productive-heading-01-font-weight: 600;
  --cds-productive-heading-01-line-height: 1.29;
  --cds-productive-heading-01-letter-spacing: 0.16px;
  --cds-heading-02-font-size: 1rem;
  --cds-heading-02-font-weight: 600;
  --cds-heading-02-line-height: 1.375;
  --cds-heading-02-letter-spacing: 0;
  --cds-productive-heading-02-font-size: 1rem;
  --cds-productive-heading-02-font-weight: 600;
  --cds-productive-heading-02-line-height: 1.375;
  --cds-productive-heading-02-letter-spacing: 0;
  --cds-productive-heading-03-font-size: 1.25rem;
  --cds-productive-heading-03-font-weight: 400;
  --cds-productive-heading-03-line-height: 1.4;
  --cds-productive-heading-03-letter-spacing: 0;
  --cds-productive-heading-04-font-size: 1.75rem;
  --cds-productive-heading-04-font-weight: 400;
  --cds-productive-heading-04-line-height: 1.29;
  --cds-productive-heading-04-letter-spacing: 0;
  --cds-productive-heading-05-font-size: 2rem;
  --cds-productive-heading-05-font-weight: 400;
  --cds-productive-heading-05-line-height: 1.25;
  --cds-productive-heading-05-letter-spacing: 0;
  --cds-productive-heading-06-font-size: 2.625rem;
  --cds-productive-heading-06-font-weight: 300;
  --cds-productive-heading-06-line-height: 1.199;
  --cds-productive-heading-06-letter-spacing: 0;
  --cds-productive-heading-07-font-size: 3.375rem;
  --cds-productive-heading-07-font-weight: 300;
  --cds-productive-heading-07-line-height: 1.19;
  --cds-productive-heading-07-letter-spacing: 0;
  --cds-expressive-heading-01-font-size: 0.875rem;
  --cds-expressive-heading-01-font-weight: 600;
  --cds-expressive-heading-01-line-height: 1.25;
  --cds-expressive-heading-01-letter-spacing: 0.16px;
  --cds-expressive-heading-02-font-size: 1rem;
  --cds-expressive-heading-02-font-weight: 600;
  --cds-expressive-heading-02-line-height: 1.5;
  --cds-expressive-heading-02-letter-spacing: 0;
  --cds-expressive-heading-03-font-size: 1.25rem;
  --cds-expressive-heading-03-font-weight: 400;
  --cds-expressive-heading-03-line-height: 1.4;
  --cds-expressive-heading-03-letter-spacing: 0;
  --cds-expressive-heading-04-font-size: 1.75rem;
  --cds-expressive-heading-04-font-weight: 400;
  --cds-expressive-heading-04-line-height: 1.29;
  --cds-expressive-heading-04-letter-spacing: 0;
  --cds-expressive-heading-05-font-size: 2rem;
  --cds-expressive-heading-05-font-weight: 400;
  --cds-expressive-heading-05-line-height: 1.25;
  --cds-expressive-heading-05-letter-spacing: 0;
  --cds-expressive-heading-06-font-size: 2rem;
  --cds-expressive-heading-06-font-weight: 600;
  --cds-expressive-heading-06-line-height: 1.25;
  --cds-expressive-heading-06-letter-spacing: 0;
  --cds-expressive-paragraph-01-font-size: 1.5rem;
  --cds-expressive-paragraph-01-font-weight: 300;
  --cds-expressive-paragraph-01-line-height: 1.334;
  --cds-expressive-paragraph-01-letter-spacing: 0;
  --cds-quotation-01-font-size: 1.25rem;
  --cds-quotation-01-font-weight: 400;
  --cds-quotation-01-line-height: 1.3;
  --cds-quotation-01-letter-spacing: 0;
  --cds-quotation-02-font-size: 2rem;
  --cds-quotation-02-font-weight: 300;
  --cds-quotation-02-line-height: 1.25;
  --cds-quotation-02-letter-spacing: 0;
  --cds-display-01-font-size: 2.625rem;
  --cds-display-01-font-weight: 300;
  --cds-display-01-line-height: 1.19;
  --cds-display-01-letter-spacing: 0;
  --cds-display-02-font-size: 2.625rem;
  --cds-display-02-font-weight: 600;
  --cds-display-02-line-height: 1.19;
  --cds-display-02-letter-spacing: 0;
  --cds-display-03-font-size: 2.625rem;
  --cds-display-03-font-weight: 300;
  --cds-display-03-line-height: 1.19;
  --cds-display-03-letter-spacing: 0;
  --cds-display-04-font-size: 2.625rem;
  --cds-display-04-font-weight: 600;
  --cds-display-04-line-height: 1.19;
  --cds-display-04-letter-spacing: 0;
  --cds-spacing-01: 0.125rem;
  --cds-spacing-02: 0.25rem;
  --cds-spacing-03: 0.5rem;
  --cds-spacing-04: 0.75rem;
  --cds-spacing-05: 1rem;
  --cds-spacing-06: 1.5rem;
  --cds-spacing-07: 2rem;
  --cds-spacing-08: 2.5rem;
  --cds-spacing-09: 3rem;
  --cds-spacing-10: 4rem;
  --cds-spacing-11: 5rem;
  --cds-spacing-12: 6rem;
  --cds-fluid-spacing-01: 0;
  --cds-fluid-spacing-02: 2vw;
  --cds-fluid-spacing-03: 5vw;
  --cds-fluid-spacing-04: 10vw;
  --cds-layout-01: 1rem;
  --cds-layout-02: 1.5rem;
  --cds-layout-03: 2rem;
  --cds-layout-04: 3rem;
  --cds-layout-05: 4rem;
  --cds-layout-06: 6rem;
  --cds-layout-07: 10rem;
  --cds-container-01: 1.5rem;
  --cds-container-02: 2rem;
  --cds-container-03: 2.5rem;
  --cds-container-04: 3rem;
  --cds-container-05: 4rem;
  --cds-icon-size-01: 1rem;
  --cds-icon-size-02: 1.25rem;
}

// Based on :root
:global(:root[theme="light"]) {
  --cds-interactive-01: #{map-oc(#0f62fe)};
  --cds-interactive-02: #{map-oc(#393939)};
  --cds-interactive-03: #{map-oc(#0f62fe)};
  --cds-interactive-04: #{map-oc(#0f62fe)};
  --cds-ui-background: #{map-oc(#ffffff)};
  --cds-ui-01: #{map-oc(#f4f4f4)};
  --cds-ui-02: #{map-oc(#ffffff)};
  --cds-ui-03: #{map-oc(#e0e0e0)};
  --cds-ui-04: #{map-oc(#8d8d8d)};
  --cds-ui-05: #{map-oc(#161616)};
  --cds-text-01: #{map-oc(#161616)};
  --cds-text-02: #{map-oc(#525252)};
  --cds-text-03: #{map-oc(#a8a8a8)};
  --cds-text-04: #{map-oc(#ffffff)};
  --cds-text-05: #{map-oc(#6f6f6f)};
  --cds-text-error: #{map-oc(#da1e28)};
  --cds-icon-01: #{map-oc(#161616)};
  --cds-icon-02: #{map-oc(#525252)};
  --cds-icon-03: #{map-oc(#ffffff)};
  --cds-link-01: #{map-oc(#0f62fe)};
  --cds-inverse-link: #{map-oc(#78a9ff)};
  --cds-field-01: #{map-oc(#f4f4f4)};
  --cds-field-02: #{map-oc(#ffffff)};
  --cds-inverse-01: #{map-oc(#ffffff)};
  --cds-inverse-02: #{map-oc(#393939)};
  --cds-support-01: #{map-oc(#da1e28)};
  --cds-support-02: #{map-oc(#24a148)};
  --cds-support-03: #{map-oc(#f1c21b)};
  --cds-support-04: #{map-oc(#0043ce)};
  --cds-inverse-support-01: #{map-oc(#fa4d56)};
  --cds-inverse-support-02: #{map-oc(#42be65)};
  --cds-inverse-support-03: #{map-oc(#f1c21b)};
  --cds-inverse-support-04: #{map-oc(#4589ff)};
  --cds-overlay-01: #{map-oc(rgba(22, 22, 22, 0.5))};
  --cds-danger-01: #{map-oc(#da1e28)};
  --cds-danger-02: #{map-oc(#da1e28)};
  --cds-focus: #{map-oc(#0f62fe)};
  --cds-inverse-focus-ui: #{map-oc(#ffffff)};
  --cds-hover-primary: #{map-oc(#0353e9)};
  --cds-active-primary: #{map-oc(#002d9c)};
  --cds-hover-primary-text: #{map-oc(#0043ce)};
  --cds-hover-secondary: #{map-oc(#4c4c4c)};
  --cds-active-secondary: #{map-oc(#6f6f6f)};
  --cds-hover-tertiary: #{map-oc(#0353e9)};
  --cds-active-tertiary: #{map-oc(#002d9c)};
  --cds-hover-ui: #{map-oc(#e5e5e5)};
  --cds-active-ui: #{map-oc(#c6c6c6)};
  --cds-selected-ui: #{map-oc(#e0e0e0)};
  --cds-selected-light-ui: #{map-oc(#e0e0e0)};
  --cds-hover-selected-ui: #{map-oc(#cacaca)};
  --cds-inverse-hover-ui: #{map-oc(#4c4c4c)};
  --cds-hover-danger: #{map-oc(#b81921)};
  --cds-active-danger: #{map-oc(#750e13)};
  --cds-hover-row: #{map-oc(#e5e5e5)};
  --cds-visited-link: #{map-oc(#8a3ffc)};
  --cds-disabled-01: #{map-oc(#f4f4f4)};
  --cds-disabled-02: #{map-oc(#c6c6c6)};
  --cds-disabled-03: #{map-oc(#8d8d8d)};
  --cds-highlight: #{map-oc(#d0e2ff)};
  --cds-decorative-01: #{map-oc(#e0e0e0)};
  --cds-hover-light-ui: #{map-oc(#e5e5e5)};
  --cds-button-separator: #{map-oc(#e0e0e0)};
  --cds-skeleton-01: #{map-oc(#e5e5e5)};
  --cds-skeleton-02: #{map-oc(#c6c6c6)};
  --cds-brand-01: #{map-oc(#0f62fe)};
  --cds-brand-02: #{map-oc(#393939)};
  --cds-brand-03: #{map-oc(#0f62fe)};
  --cds-active-01: #{map-oc(#c6c6c6)};
  --cds-hover-field: #{map-oc(#e5e5e5)};
  --cds-danger: #{map-oc(#da1e28)};
  --cds-caption-01-font-size: 0.75rem;
  --cds-caption-01-font-weight: 400;
  --cds-caption-01-line-height: 1.34;
  --cds-caption-01-letter-spacing: 0.32px;
  --cds-label-01-font-size: 0.75rem;
  --cds-label-01-font-weight: 400;
  --cds-label-01-line-height: 1.34;
  --cds-label-01-letter-spacing: 0.32px;
  --cds-helper-text-01-font-size: 0.75rem;
  --cds-helper-text-01-line-height: 1.34;
  --cds-helper-text-01-letter-spacing: 0.32px;
  --cds-body-short-01-font-size: 0.875rem;
  --cds-body-short-01-font-weight: 400;
  --cds-body-short-01-line-height: 1.29;
  --cds-body-short-01-letter-spacing: 0.16px;
  --cds-body-long-01-font-size: 0.875rem;
  --cds-body-long-01-font-weight: 400;
  --cds-body-long-01-line-height: 1.43;
  --cds-body-long-01-letter-spacing: 0.16px;
  --cds-body-short-02-font-size: 1rem;
  --cds-body-short-02-font-weight: 400;
  --cds-body-short-02-line-height: 1.375;
  --cds-body-short-02-letter-spacing: 0;
  --cds-body-long-02-font-size: 1rem;
  --cds-body-long-02-font-weight: 400;
  --cds-body-long-02-line-height: 1.5;
  --cds-body-long-02-letter-spacing: 0;
  --cds-code-01-font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  --cds-code-01-font-size: 0.75rem;
  --cds-code-01-font-weight: 400;
  --cds-code-01-line-height: 1.34;
  --cds-code-01-letter-spacing: 0.32px;
  --cds-code-02-font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
  --cds-code-02-font-size: 0.875rem;
  --cds-code-02-font-weight: 400;
  --cds-code-02-line-height: 1.43;
  --cds-code-02-letter-spacing: 0.32px;
  --cds-heading-01-font-size: 0.875rem;
  --cds-heading-01-font-weight: 600;
  --cds-heading-01-line-height: 1.29;
  --cds-heading-01-letter-spacing: 0.16px;
  --cds-productive-heading-01-font-size: 0.875rem;
  --cds-productive-heading-01-font-weight: 600;
  --cds-productive-heading-01-line-height: 1.29;
  --cds-productive-heading-01-letter-spacing: 0.16px;
  --cds-heading-02-font-size: 1rem;
  --cds-heading-02-font-weight: 600;
  --cds-heading-02-line-height: 1.375;
  --cds-heading-02-letter-spacing: 0;
  --cds-productive-heading-02-font-size: 1rem;
  --cds-productive-heading-02-font-weight: 600;
  --cds-productive-heading-02-line-height: 1.375;
  --cds-productive-heading-02-letter-spacing: 0;
  --cds-productive-heading-03-font-size: 1.25rem;
  --cds-productive-heading-03-font-weight: 400;
  --cds-productive-heading-03-line-height: 1.4;
  --cds-productive-heading-03-letter-spacing: 0;
  --cds-productive-heading-04-font-size: 1.75rem;
  --cds-productive-heading-04-font-weight: 400;
  --cds-productive-heading-04-line-height: 1.29;
  --cds-productive-heading-04-letter-spacing: 0;
  --cds-productive-heading-05-font-size: 2rem;
  --cds-productive-heading-05-font-weight: 400;
  --cds-productive-heading-05-line-height: 1.25;
  --cds-productive-heading-05-letter-spacing: 0;
  --cds-productive-heading-06-font-size: 2.625rem;
  --cds-productive-heading-06-font-weight: 300;
  --cds-productive-heading-06-line-height: 1.199;
  --cds-productive-heading-06-letter-spacing: 0;
  --cds-productive-heading-07-font-size: 3.375rem;
  --cds-productive-heading-07-font-weight: 300;
  --cds-productive-heading-07-line-height: 1.19;
  --cds-productive-heading-07-letter-spacing: 0;
  --cds-expressive-heading-01-font-size: 0.875rem;
  --cds-expressive-heading-01-font-weight: 600;
  --cds-expressive-heading-01-line-height: 1.25;
  --cds-expressive-heading-01-letter-spacing: 0.16px;
  --cds-expressive-heading-02-font-size: 1rem;
  --cds-expressive-heading-02-font-weight: 600;
  --cds-expressive-heading-02-line-height: 1.5;
  --cds-expressive-heading-02-letter-spacing: 0;
  --cds-expressive-heading-03-font-size: 1.25rem;
  --cds-expressive-heading-03-font-weight: 400;
  --cds-expressive-heading-03-line-height: 1.4;
  --cds-expressive-heading-03-letter-spacing: 0;
  --cds-expressive-heading-04-font-size: 1.75rem;
  --cds-expressive-heading-04-font-weight: 400;
  --cds-expressive-heading-04-line-height: 1.29;
  --cds-expressive-heading-04-letter-spacing: 0;
  --cds-expressive-heading-05-font-size: 2rem;
  --cds-expressive-heading-05-font-weight: 400;
  --cds-expressive-heading-05-line-height: 1.25;
  --cds-expressive-heading-05-letter-spacing: 0;
  --cds-expressive-heading-06-font-size: 2rem;
  --cds-expressive-heading-06-font-weight: 600;
  --cds-expressive-heading-06-line-height: 1.25;
  --cds-expressive-heading-06-letter-spacing: 0;
  --cds-expressive-paragraph-01-font-size: 1.5rem;
  --cds-expressive-paragraph-01-font-weight: 300;
  --cds-expressive-paragraph-01-line-height: 1.334;
  --cds-expressive-paragraph-01-letter-spacing: 0;
  --cds-quotation-01-font-size: 1.25rem;
  --cds-quotation-01-font-weight: 400;
  --cds-quotation-01-line-height: 1.3;
  --cds-quotation-01-letter-spacing: 0;
  --cds-quotation-02-font-size: 2rem;
  --cds-quotation-02-font-weight: 300;
  --cds-quotation-02-line-height: 1.25;
  --cds-quotation-02-letter-spacing: 0;
  --cds-display-01-font-size: 2.625rem;
  --cds-display-01-font-weight: 300;
  --cds-display-01-line-height: 1.19;
  --cds-display-01-letter-spacing: 0;
  --cds-display-02-font-size: 2.625rem;
  --cds-display-02-font-weight: 600;
  --cds-display-02-line-height: 1.19;
  --cds-display-02-letter-spacing: 0;
  --cds-display-03-font-size: 2.625rem;
  --cds-display-03-font-weight: 300;
  --cds-display-03-line-height: 1.19;
  --cds-display-03-letter-spacing: 0;
  --cds-display-04-font-size: 2.625rem;
  --cds-display-04-font-weight: 600;
  --cds-display-04-line-height: 1.19;
  --cds-display-04-letter-spacing: 0;
  --cds-spacing-01: 0.125rem;
  --cds-spacing-02: 0.25rem;
  --cds-spacing-03: 0.5rem;
  --cds-spacing-04: 0.75rem;
  --cds-spacing-05: 1rem;
  --cds-spacing-06: 1.5rem;
  --cds-spacing-07: 2rem;
  --cds-spacing-08: 2.5rem;
  --cds-spacing-09: 3rem;
  --cds-spacing-10: 4rem;
  --cds-spacing-11: 5rem;
  --cds-spacing-12: 6rem;
  --cds-fluid-spacing-01: 0;
  --cds-fluid-spacing-02: 2vw;
  --cds-fluid-spacing-03: 5vw;
  --cds-fluid-spacing-04: 10vw;
  --cds-layout-01: 1rem;
  --cds-layout-02: 1.5rem;
  --cds-layout-03: 2rem;
  --cds-layout-04: 3rem;
  --cds-layout-05: 4rem;
  --cds-layout-06: 6rem;
  --cds-layout-07: 10rem;
  --cds-container-01: 1.5rem;
  --cds-container-02: 2rem;
  --cds-container-03: 2.5rem;
  --cds-container-04: 3rem;
  --cds-container-05: 4rem;
  --cds-icon-size-01: 1rem;
  --cds-icon-size-02: 1.25rem;
}
